/* Home.css */
body.dark-theme {
    background-color: #333;
    color: #fff;
}

.home {
    margin: 2rem 0;
}



.home_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home_img {
    cursor: pointer;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.home_info {
    text-align: center;
}

.home_title input,
.home_profession input {
    border: none;
    background-color: transparent;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    text-align: center;
    width: 100%;
}

input[type="file"] {
    display: none;
}
