/* Floating Action Button (FAB) */
.fab-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: var(--fab-bg-light); /* Use light theme background color by default */
    color: var(--fab-color-light); /* Use light theme text color by default */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease; /* Added opacity transition */
    opacity: 1; /* FAB initially visible */
}

/* Hide FAB when not visible */
.fab-container.hide {
    opacity: 0;
    pointer-events: none; /* Disable pointer events when hidden */
}

.fab-icon {
    font-size: 1.5rem;
}

.fab-container.open .fab-icon {
    transform: rotate(45deg);
}

/* Icons container */
.icons_container {
    position: absolute;
    bottom: 90px;
    right: 20px;
    display: none; /* Initially hide icons container */
    flex-direction: column;
    align-items: center;
    z-index: 999;
    opacity: 1; /* Icons container initially visible */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Added opacity transition */
}

/* Show icons container when FAB is open */
.fab-container.open + .icons_container {
    display: flex;
}

.icons_container i {
    font-size: 1.5rem;
    margin: 10px 0;
    cursor: pointer;
    color: var(--fab-color-light); /* Use light theme text color by default */
    background: var(--fab-bg-light); /* Use light theme background color by default */
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.icons_container i:hover {
    transform: scale(1.2);
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .fab-container {
        bottom: 10%; /* Adjusted for smaller screens */
        right: 5%; /* Adjusted for smaller screens */
    }
    
    .icons_container {
        bottom: 20%; /* Adjusted for smaller screens */
        right: 5%; /* Adjusted for smaller screens */
    }
}

.fab-container.light-theme {
    background-color: black; /* Background color for light theme */
    color: white; /* Text color for light theme */
}

.fab-container.dark-theme {
    background-color: white; /* Background color for dark theme */
    color: black; /* Text color for dark theme */
}